#charter-full-img {
  width: 100%;
}

.charter-overlay-tite {
  position: absolute;
  top: 310px;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  background-color: rgba(80,80,80,.6);
  left: 0px;
  padding: 0px 13px;
  width: auto%;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

#title-container {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%; 
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
