#ooi-full-img {
  width: 100%;
}

.overlay-title {
  position: absolute;
  top: 440px;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  background-color: rgba(80,80,80,.6);
  left: 0px;
  padding: 0px 13px;
  width: auto;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */

  /* border-bottom-right-radius: 0px; */
}

.overlay-subtitle {
  position: absolute;
  margin-left: 154px;
  color: #fff;
  font-weight: lighter;
  font-size: 30px;
  background-color: rgba(200,200,200,.6);
  left: -160px;
  padding: 0px 13px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 113%;
}

#title-container {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%; 
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
