#ooi-full-img {
  width: 100%;
}

.overlay-title {
  position: absolute;
  top: 440px;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  background-color: rgba(80,80,80,.6);
  left: 0px;
  padding: 0px 13px;
  width: auto;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  /* border-bottom-right-radius: 0px; */
}

.overlay-subtitle {
  position: absolute;
  margin-left: 154px;
  color: #fff;
  font-weight: lighter;
  font-size: 30px;
  background-color: rgba(200,200,200,.6);
  left: -160px;
  padding: 0px 13px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 113%;
}
